<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.socksdemo.mapper.SettingMapper">
    
    <select id="querySetting"   resultType="java.lang.Integer">
        select reward_base from setting
    </select>

    <update id="upd" parameterType="java.lang.Integer">
        update setting set reward_base=#{var}
    </update>

</mapper>
